<div class="container">
  <header>
      <div class="header-title">BAD COMPANY</div>
      <div style="font-size: 14px;">
        Viewers: <span>{{ ws.totalClients() }}</span>
      </div>
      <div class="network-status">
        Network: 
        <span [style.color]="ws.isConnected() ? '#00ff00' : '#ff0000'">
          {{ ws.isConnected() ? 'STABLE' : 'UNSTABLE' }}
        </span>
      </div>
  </header>

  
  <app-map-component class="map-panel"
    [disabled]="hasVoted()" 
    [votes]="ws.votes()"
    [totalClients]="ws.totalClients()"
    [playerLocation]="ws.playerLocation()"
    (action)="vote($event)">
  </app-map-component>
  <app-terminal-component class="terminal-box"></app-terminal-component>
  <app-message-component class="message-box"></app-message-component>
  <app-operator-chat-component class="operator-chat-box"></app-operator-chat-component>
</div>
